/*  GLOBAL  */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font-family: Arial, Helvetica, sans-serif;
  --black: rgba(0, 0, 0, 1);
  --dark-navy-translucent: rgba(20, 41, 89, 0.4);
  --dark-navy-opaque: rgb(20, 41, 89);
  --very-dark-gray: rgb(17, 17, 17);
  --blueish-gray: rgb(33, 36, 50);
}

html {
  font-family: var(--main-font-family);
  font-size: 16px;
  color: white;
}

body {
  background-color: var(--black);
}

.section-container {
  background-color: var(--dark-navy-translucent);
  padding: 2rem 6rem;
  margin-bottom: 4rem;
}