/*  GLOBAL  */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font-family: Arial, Helvetica, sans-serif;
  --black: rgba(0, 0, 0, 1);
  --dark-navy-translucent: rgba(20, 41, 89, 0.4);
  --dark-navy-opaque: rgb(20, 41, 89);
  --very-dark-navy: rgb(22, 33, 60);
  --very-dark-navy-translucent: rgba(22, 33, 60, 0.6);
  --very-dark-gray: rgb(17, 17, 17);
  --blueish-gray: rgb(33, 36, 50);
}

html {
  font-family: var(--main-font-family);
  font-size: 16px;
  color: white;
}

body {
  background-color: var(--black);
}

h1,
h2,
h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
}

.section__reference-line {
  position: relative;
  top: -8rem;
}

.section-container {
  height: 100%;
  margin-bottom: 10rem;
}

.section-content-container {
  padding: 2rem 10rem 2rem 6rem;
  height: 100%;
  width: 70%;
}

.section-content-container--background {
  background: linear-gradient(to right, var(--dark-navy-opaque), rgba(0, 0, 0, 0));
}