/* header is a flexbox and has fixed position at the top of the page */
.header {
  display: flex;
  grid-template-columns: repeat(2, 50rem);
  height: 6rem;
  background-color: var(--dark-navy-translucent);
  margin-bottom: 10rem;
}

.header-logo-section {
  width: 26rem;
}

.header-logo__anchor {
  display: grid;
  grid-template-columns: 6rem 18rem;
  column-gap: 2rem;
  height: 6rem;
  align-items: center;
}

.header-logo__image-container {
  width: 6rem;
}

.header-logo__image {
  height: 6rem;
}

.header-logo__text-container {
  font-size: 3rem;
}

.header-middle-section {
  flex: 1;
}

.header-menu__anchor--visual {
  color: white;
  text-decoration: none;
}

.header-menu-section {
  width: 50rem;
  display: grid;
  grid-template-columns: repeat(4, 10rem);
}

.header-menu-category {
  height: 100%;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 2rem;
}

.header-menu--background-color {
  transition: background-color 0.15s;
}

.header-menu--background-color:hover {
  background-color: var(--dark-navy-opaque);
}