/* header is a flexbox and has fixed position at the top of the page */
.header {
  display: flex;
  height: 6rem;
  background-color: var(--dark-navy-translucent);
  margin-bottom: 4rem;
}

.header-logo {
  display: flex;
  flex: 1;
}

.header-logo-text {
  height: 100%;
  padding: 1.6rem 2rem;
  transition: background-color 0.15s;
  font-size: 2rem;
}

.header-menu {
  height: 100%;
  width: 60vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header-menu__anchor--nav-bar {
  color: white;
  text-decoration: none;
}

.header-menu-category {
  height: 100%;
  width: 25%;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 2rem;
}

.header-menu--background-color:hover {
  background-color: var(--dark-navy-opaque);
}