#intro-section-container {
  background-image: linear-gradient(to right, var(--dark-navy-opaque), rgba(0, 0, 0, 0)),
    url("/images/sun-rising-on-earth-in-space.jpg");
  height: 32rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.2);
}

#intro-section__paragraph {
  margin-top: 10%;
}