.intro-section-container {
  height: 10rem;
  width: 50rem;
  margin-bottom: 10rem;
}

.intro-section-content-container {
  padding: 2rem 10rem 2rem 6rem;
  height: 100%;
  width: 100%;
}

.intro-section-content-container--gradient {
  background: linear-gradient(to right, var(--dark-navy-opaque), rgba(0, 0, 0, 0));
}

.intro-section__title {
  font-size: 2em;
}