/* header is a flexbox and has fixed position at the top of the page */
.header {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  height: 12vh;
  background-color: var(--dark-navy-translucent);
}

.header-logo {
  display: flex;
  flex: 1;
}

.header-logo-text {
  height: 100%;
  padding: 0.8em;
  transition: background-color 0.15s;
  font-size: 2rem;
}

.header-menu {
  height: 100%;
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header-menu__anchor--nav-bar {
  color: white;
  text-decoration: none;
}

.header-menu-category {
  display: flex;
  height: 100%;
  width: 25%;
  justify-content: center;
  align-items: center;
}

.header-menu--background-color:hover {
  background-color: var(--dark-navy-opaque);
}