/* header is a flexbox and has fixed position at the top of the page */
.header {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  height: rem;
  background-color: black;
}

.header__logo {
  flex: 1;
  justify-content: center;
  align-items: center;
}

.header__menu {
  height: 100%;
  width: 40vw;
  display: flex;
}