/* header is a flexbox and has fixed position at the top of the page */
.header {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  height: 12vh;
  background-color: rgba(0, 0, 0, 0);
}

.header-logo {
  flex: 1;
  justify-content: center;
  align-items: center;
}

.header-logo-section {
  display: flex;
  height: 100%;
  width: 20vw;
  align-items: center;
  justify-content: space-around;
}

.header-logo-section__name {
  font-size: 2rem;
}

.header-menu {
  height: 100%;
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header-menu-category {
  display: flex;
  height: 100%;
  width: 25%;
  justify-content: center;
  align-items: center;
}